.button.confirmar{
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 1);
}

.button.confirmar:hover{
    -fx-background-color: #a93226;
}